ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 80px;
    z-index: 999;
    li{
        cursor: pointer;
        color:#fff;
       img:hover{
            transform: scale(1.16);
        }
    }
}