<span class="nb-comments" (click)="toggleShow()">{{commentService.commentCounter}} comments </span>
<hr>
<div class="comments" *ngIf="isShown">
    <div class="" *ngFor="let comment of commentsOb | async">
        <div class="" >

            <p>{{comment.comment}} </p>
            <span class="from">By {{comment.idAccount}} , On {{comment.date | date:'mediumDate'}}</span>

            <!-- if nbcoms > 7 ... -->
        </div>
    </div>
    <div class="view-more"><span> More +</span></div>
</div>
<form action="" class="add-comment">

    <textarea cols="64" rows="4" type="text" placeholder="your comment"></textarea>
    <button mat-raised-button (click)="sendComment()">Send</button>
</form>