

<span class="nb-comments" (click)="toggleShow()">
    {{commentService.commentCounter}} comments </span>

   
<hr>
<div class="comments" *ngIf="isShown">
    <div class="" *ngFor="let comment of commentsOb | async">
        <div class="">

            <p>{{comment.comment}} </p>
            <span class="from">By {{comment.idAccount}} , On {{comment.date | date:'mediumDate'}}</span>

            <!-- if nbcoms > 7 ... -->
        </div>
    </div>
    <div class="view-more"><span> More +</span></div>
</div>
<form [formGroup]="addCommentForm" class="add-comment">
    <mat-form-field class="">

        <textarea cols="64" rows="4" type="text" 
        matInput
        formControlName="comment" placeholder="your comment"></textarea>
        <mat-error *ngIf="comment.touched && comment.invalid">
            Comment empty
        </mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="sendComment()" [disabled]="addCommentForm.invalid">Send</button>

</form>