<header>
    <nav>
        <ul>
            
            <li>
                <a [routerLink]="['home']">
                    <mat-icon>home</mat-icon> 
                    Home
                </a>
            </li>
            <li *ngIf="!userService.user">
                <a [routerLink]="['login']">
                    <mat-icon class="my-icons">lock</mat-icon>
                    Login
                </a>
            </li>
            <li *ngIf="userService.user">
                <a (click)="doLogout()"
                   [routerLink]="['home']">
                   <mat-icon class="my-icons">lock_open</mat-icon>
                    Logout
                </a>
            </li>            
        </ul>
    </nav>
</header>