<header>
    <nav>
        <ul>

            <li>
                <a [routerLink]="['home']">
                    <mat-icon>home</mat-icon>
                    Home
                </a>
            </li>

            <!-- A supprimer -->
            <li>
                <a (click)="userService.checkIfUserIsConnected()">
                    <mat-icon>contact_support</mat-icon>
                    User connected ?
                </a>
            </li>

            <li *ngIf="!userService.currentUser.isAuthenticated">
                <a [routerLink]="['login']">
                    <mat-icon class="my-icons">lock</mat-icon>
                    Login
                </a>
            </li>
            <li *ngIf="userService.currentUser.isAuthenticated" class="connected-as">
                <a (click)="doLogout()" [routerLink]="['home']">
                    <mat-icon class="my-icons">lock_open</mat-icon>
                    Logout
                </a>
            </li>
            <li *ngIf="userService.currentUser.isAuthenticated" class="connected-as">
                <a [routerLink]="['../','account', user.idUser]">
                    <mat-icon class="my-icons">assignment_ind</mat-icon>
                    My Account
                </a>
            </li>
            <li *ngIf="userService.currentUser.isAuthenticated">
                <em>Connected as <span> {{ user.username }} </span></em>
            </li>
            <li *ngIf="!userService.currentUser.isAuthenticated">
                <em>You are not connected</em>
            </li>

            <li>
                <a [routerLink]="['register']">
                    <mat-icon class="my-icons">face </mat-icon>
                    Register
                </a>
            </li>
        </ul>
    </nav>
    <div class="infos">
        <div class="action">
            <i class="material-icons" title="Add a movie" (click)=addMovie()>
                slideshow
            </i>
        </div>
        <app-language-switcher></app-language-switcher>
    </div>
</header>