<h1>Login Page</h1>

<form [formGroup]="loginForm">
  <mat-form-field class=""> 
    <mat-label>Login :</mat-label>
    <input 
      matInput 
      type="text"
      placeholder="Your login"
      formControlName="login"
    >
    <mat-error *ngIf="login.touched && login.invalid">
      Your login is <strong>required</strong> and must have at least 5 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field class = "">
    <mat-label>Password : </mat-label>
    <input 
      matInput 
      type="password"
      placeholder="Your password"
      formControlName="password"
    >
    <mat-error *ngIf="password.touched && password.invalid">
      Your password is <strong>required</strong> and must have at least 8 characters
    </mat-error>
  </mat-form-field>

<button 
    mat-raised-button 
    (click)="doLogin()"
    [disabled]="loginForm.invalid"
>Log in </button>   
      
</form>

<!-- TODO : what if user forgot their credentials -->
<!-- TODO : place routerLink to registering user if not -->