<div class="content">

  <h1>Homepage : {{ title | uppercase }}</h1>

  <div id="search-component">
    <app-search (moviesEvent)="receiveMoviesEvent($event)"></app-search>
  </div>

  <div id="filter">
    <mat-form-field>
        <mat-label>Years</mat-label>
        <mat-select size="1" [(ngModel)]="year">
            <mat-option [value]="0" selected>All</mat-option>
            <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
  </div>

  <p>Default country is : {{ defaultCountry }}</p>
  <p>Default year is : {{ year }}</p>

  <div class=movie *ngFor="let movie of movies | async">
      <div *ngIf="movie.year == year || year == 0">

          <mat-card class="movie-card">
              <mat-card-header class="movie-header">
                <mat-card-title 
                  class = "movie-title"
                  [ngClass]="{'old': movie.year < 2000, 'title': true }"
                >
                  <a [routerLink]="['../','movie', movie.idMovie]">
                    {{ movie.title }}
                  </a>
                </mat-card-title>
                <mat-card-subtitle>{{ movie.year }} ({{ movie.country }})</mat-card-subtitle>
              </mat-card-header>

              <img mat-card-image src="{{ movie.imgSrc }}" alt="{{ movie.imgAlt }}">
              <mat-card-content>
                <p>{{ movie.synopsis}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>
                  Fav it
                  <mat-icon>favorite</mat-icon>  
                </button>
                <button mat-button >
                  Details
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
      </div>
  </div>

</div>